.welcome_msg{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
  background-color: white!important;
}

/* navbarstyle */

/* ------------ VARIABLES ------------ */
:root{
    /* COLORS */
    --tab-color: #191919;
    --white-color: #fff;
    --home-icon-color: #00f7ff;
    --heart-icon-color: #ff0000;
    --plus-icon-color: #adff2f;
    --user-icon-color: #ee82ee;
    --bell-icon-color: #ffff00;
  }
  
  /* ------------ BASE ------------ */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  
  
  li{
    display: inline-block;
  }
  
  /* ------------ MENU ------------ */
  .nav{
    background-color: var(--tab-color);
    width: 100%;
    height: 5em;
    border-radius: 2em;
    padding: 0 2em;
    box-shadow: 0 1em 1em rgba(0,0,0, .2);
  
    display: flex;
    align-items: center;
  
    position: relative;
    overflow: hidden;
  }
  
  .nav__links{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .nav__link a{
    color: var(--white-color);
    font-size: 2.5rem;
    opacity: 0.5;
  }
  
  .nav__light{
    position: absolute;
    top: 0;
    left: 1.3em;
    background-color: var(--white-color);
    width: 4em;
    height: .4em;
    border-radius: 2px;
  
    display: flex;
    justify-content: center;
  
    transition: .3s ease;
  }
  
  .nav__light::before{
    content: '';
    width: 5em;
    height: 7em;
    position: absolute;
    top: .4em;
    background: linear-gradient(to bottom, rgba(255,255,255, .3) -50%, rgba(255,255,255, 0) 90%);
    clip-path: polygon(30% 0, 70% 0, 100% 100%, 0% 100%);
  }
  
  
  .nav__link.active a{
    opacity: 1;
  }
  
  .nav__link.active a .bx-home-alt-2{
    color: var(--home-icon-color);
    text-shadow: 0 0 15px var(--home-icon-color),
                 0 0 30px var(--home-icon-color),
                 0 0 45px var(--home-icon-color),
                 0 0 60px var(--home-icon-color);
  }
  
  .nav__link:nth-child(1).active ~ .nav__light{
    background-color: var(--home-icon-color);
  }
  
  
  .nav__link.active a .bx-heart{
    color: var(--heart-icon-color);
    text-shadow: 0 0 15px var(--heart-icon-color),
                 0 0 30px var(--heart-icon-color),
                 0 0 45px var(--heart-icon-color),
                 0 0 60px var(--heart-icon-color);
  }
  
  .nav__link:nth-child(2).active ~ .nav__light{
    background-color: var(--heart-icon-color);
  }
  
  
  .nav__link.active a .bx-plus-circle{
    color: var(--plus-icon-color);
    text-shadow: 0 0 15px var(--plus-icon-color),
                 0 0 30px var(--plus-icon-color),
                 0 0 45px var(--plus-icon-color),
                 0 0 60px var(--plus-icon-color);
  }
  
  .nav__link:nth-child(3).active ~ .nav__light{
    background-color: var(--plus-icon-color);
  }
  
  
  
  .nav__link.active a .bx-user{
    color: var(--user-icon-color);
    text-shadow: 0 0 15px var(--user-icon-color),
                 0 0 30px var(--user-icon-color),
                 0 0 45px var(--user-icon-color),
                 0 0 60px var(--user-icon-color);
  }
  
  .nav__link:nth-child(4).active ~ .nav__light{
    background-color: var(--user-icon-color);
  }
  
  
  .nav__link.active a .bx-bell{
    color: var(--bell-icon-color);
    text-shadow: 0 0 15px var(--bell-icon-color),
                 0 0 30px var(--bell-icon-color),
                 0 0 45px var(--bell-icon-color),
                 0 0 60px var(--bell-icon-color);
  }
  
  .nav__link:nth-child(5).active ~ .nav__light{
    background-color: var(--bell-icon-color);
  }


  .hero_area{
   
    background: url(./ring/RingsTopImageMobile.jpg);
    height: 700px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
  }

/* .hero_area_transparent{
  background-color:rgba(0, 0, 0, 0.479);
  height: 700px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
} */



  /*  */


  .a {
    background-image: url(./ring/016cd4e3117e14ea35d91ad21e78be63.jpg);
  }
  
  .b {
    background-image: url(./ring/022daa519fe8a4d6202ea18c97e6b152.jpg);
  }
  
  .c {
    background-image: url(./ring/05bd730b4bcabb6f1cd7fc10f55d6f52.jpg);
  }
  
  .d {
    background-image: url(./ring/1015a3c5487328736ce02628e9efce8f.jpg);
  }
  
  .e {
    background-image: url(./ring/1e8ca4e75625b9a0033db50f96229871.jpg);
  }
  
  .f {
    background-image: url(./ring/2940ac3fb1f085995eeb192d42b4a882.jpg);
  }
  
  .g {
    background-image: url(./ring/3a2dda43166935f88321dfbe3644e2b7.jpg);
  }
  
  .h {
    background-image: url(./ring/425d820627e49520b1512ea83fc8789e.jpg);
  }
  
  .i {
    background-image: url(./ring/441705b972f5a354fa026f8b5fc8958d.jpg);
  }
  
  .j {
    background-image: url(./ring/555745256a704089c215905ed74e928b.jpg);
  }
  
  .k {
    background-image: url(./ring/596de4889afed7b43c3bae22db1ba7bd.jpg);
  }
  
  .l {
    background-image: url(./ring/6309976a36a91b9770c6f1f22a56decb.jpg);
  }
  
  .m {
    background-image: url(./ring/6e03acf9ff6a8a473044c9da6baa7f1c.jpg);
  }
  
  .n {
    background-image: url(./ring/7ff0c9390bb0dc01f1085fd9d8957f54.jpg);
  }
  
  .o {
    background-image: url(./ring/842e52ba5495a3795e2dcb44ba758f3b.jpg);
  }
  
  .p {
    background-image: url(./ring/8f0d3d92c511a3b4302c72bf559ad136.jpg);
  }

  

  .ring_objectfit{
    object-fit: cover;
  }